<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to America</title>
        <style>
            #bg {
                position: fixed; 
                top: 0; 
                left: 0; 
    
                /* Preserve aspet ratio */
                min-width: 100%;
                    min-height: 100%;
            }
        </style>

    </head>
    <body>
        <img src="https://cdn.pixabay.com/photo/2014/07/30/02/00/iceberg-404966_1280.jpg" id="bg" alt="">
    </body>
</html>