<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <form action="login" method="POST">
            <input type="text" id="id" name="id" placeholder="아이디"><br>
            <input type="password" name="pw" placeholder="비밀번호"><br>
            <input type="submit" value="Log In">
        </form>
    </body>
</html>