<!DOCTYPE HTML>
<html>
	<head>
		<title>My Page</title>
		<meta charset='utf-8'>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	</head>
</html>
<body>
	<h1 align='center'><a href="/mypage">Challenge</a></h1><br><br>
   	<table class="table table-striped">
        <thead>
        <tr>
            <td><B>아이디</B></td>
            <td><B>문제 이름</B></td>
            <td><B>난이도</td>
            <td><B>점수</B></td>
			<td><B>URL</B></td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>B@by_s9l1</td>
            <td>하</td>
            <td>100</td>
			<td><a href="/chall_1">challenge_1</a></td>
        </tr>
		<tr>
			<td>2</td>
			<td>Simple PHP</td>
			<td>하</td>
			<td>100</td>
			<td><a href="/chall_2">challenge_2</a></td>
		</tr>
		<tr>
			<td>3</td>
			<td>XSS Waf</td>
			<td>하</td>
			<td>100</td>
			<td><a href="/chall_3">challenge_3</a></td>
		</tr>
        <tbody>
    </table>
	</div>
</body>