<!DOCTYPE HTML>
<html>
	<head>
		<title>Admin Page</title>
		<meta charset='utf-8'>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	</head>
</html>
<body>
	<h1><a href="/mypage">Mypage</a></h1><br>
	<h2 align='center'>관리자 페이지</h2><br>
	{{ message }}
	<form method="POST">{% csrf_token %}
		<a href="/logout">Logout</a>
	</form><br>

	<table class="table table-striped">
        <thead>
        <tr>
            <td><B>사용자</B></td>
            <td><B>아이디</B></td>
            <td><B>나이</B></td>
            <td><B>전화번호</B></td>
			<td><B>소속</B></td>
			<td><B>관심 분야</B></td>
			<td><B>점수</B></td>
			<td><B>관리자 권한</B></td>
        </tr>
        </thead>
        <tbody>
        {% for user in user_list %}
        <tr>
            <td>{{user.1}}</td>
            <td>{{user.2}}</td>
            <td>{{user.4}}</td>
            <td>{{user.5}}</td>
			<td>{{user.6}}</td>
			<td>{{user.7}}</td>
			<td>{{user.11}}</td>
			<td>{{user.8}}</td>
        </tr>
        {% endfor %}
        <tbody>
    </table>
</body>