<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
    <div class="content container">
        <header class="page-header">
            <h1>Login</h1>
        </header>
        <div class="row">
            <div class="col-md-16">
                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" name="username" class="form-control" id="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                    </div>
					<p>{{ message }}</p>
                    <button type="submit" class="btn btn-default">Login</button>
                </form>
				<form method="GET">
					<button type="submut" class="btn btn-default" formaction="{% url 'forgot' %}">아이디/비밀번호 찾기</button><button type="submit" class="btn btn-default" formaction="{% url 'signup' %}">회원가입</button>
				</form>
            </div>
        </div>
    </div>
</body>
</html>